/* --- Additional Styles --- */

*, html, body { font-family: 'Roboto', sans-serif; }

body {
    background: url( './hex.png' ) repeat;
}

.app-wrapper div nav {}

div.card {
    margin-top:25px;
}


p.survey__list--body {
    margin-top:25px !important;
}

.page-footer {
    margin-top:50px;
}

#landing {
    background: url( './landing-bg.jpg' ) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:750px;
}